{{ partial:partials/nav }}

<div class="container is-widescreen">
    
    <!-- hero -->
    <div class="columns mt-6">
        
        <div class="column is-10">
            <div class="tags block">
                {{ hero_tags }}
                <span class="tag is-primary is-light">{{ content }}</span>
                {{ /hero_tags }}
            </div>
            <h1 class=" block title is-size-1 is-size-4-touch">
                {{ hero_headline }}
            </h1>
        </div>
        
    </div>
    <!-- hero end -->
    
    
    <div class="columns mt-9">
        <div class="column is-12">
            <div class="content">
                {{ content }}
            </div>
        </div>
    </div>
    
    
</div>

{{ partial:partials/footer }}