<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>

        <link rel="icon" href="{{ seo:favicon }}" type="image/png">

        <link rel="stylesheet" href="{{ mix src='css/bulma.css' }}">
        <link rel="stylesheet" href="{{ mix src='css/style.css' }}">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css">
	
	<meta name="google-site-verification" content="A3Sf_E6soIzKiy0tbDgGtAwgiBo_aVvkNF2fMR37Nzs" />
        <!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-2LWX5CKHPY"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'G-2LWX5CKHPY');
	</script>

	{{ seo:header_codes }}
    </head>
    <body class="has-background-light">
        
        {{ template_content }}

        <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
        <script src="{{ mix src='/js/site.js' }}"></script>
    </body>
</html>
