{{ partial:partials/nav }}

<div class="container is-widescreen">
    
    <!-- hero -->
    <div class="columns mt-6">
        
        <div class="column is-10">
            <span class="tag is-primary is-light block">{{ hero_tag }}</span>
            <h1 class=" block title is-size-1 is-size-4-touch">
                {{ hero_headline }}
            </h1>
        </div>
        
    </div>
    
    <div class="columns">
        
        <div class="column is-6">
            <div class="buttons are-medium">
                
                {{ main-data:social_media }}
                <a href="{{ link }}" class="button is-light is-rounded">
                    <span class="icon">
                        <i class="mdi {{ material_icon }}"></i>
                    </span>
                </a>
                {{ /main-data:social_media }}
                
                <a href="{{ main-data:hire_link }}" class="button is-primary is-normal is-rounded is-hidden-desktop">Hire me</a>
            </div>
        </div>
        
    </div>
    <div class="columns mt-4">
        <img src="{{ hero_bg }}" class="column is-12" alt="Background image" style="border-radius: 24px; height: 300px; background-size: cover; object-fit: cover; background-position: center;">
    </div>
    <!-- hero end -->
    
    <div class="columns mt-9">
        <div class="column is-5">
            <p class="is-size-6 has-text-grey">About</p>
        </div>
        <div class="column is-6 is-offset-1">
            <div class="content">
                {{ services_content }}
            </div>
        </div>
    </div>
    
    <div class="columns mt-9 is-vcentered">
        <div class="column">
            <p class="is-size-6 has-text-grey">All services</p>
        </div>
        <div class="column">
            <div class="tabs is-right is-toggle is-toggle-rounded">
                <ul>
                    {{ services_tabs }}
                        <li><a href="{{ link }}">{{ title }} 
                            {{ if has_tag=="true" }}
                            <span class="tag is-primary ml-2 is-light">{{ tag_text }}</span>
                            {{ /if }}
                        </a></li>
                    {{ /services_tabs }}
                </ul>
            </div>
        </div>
    </div>

    {{ services_list }}
    <div class="columns mt-4">
        <div class="column is-6">
            <h2 class="block title is-size-4" id="{{ id_for_link }}">{{ title }}</h2>
            <p class="block has-text-grey">{{ description }}</p>
        </div>
    </div>
    <div class="columns mt-2">
        <img src="{{ image_banner }}" class="column is-12" alt="Background image" style="border-radius: 24px; height: 300px; background-size: cover; object-fit: cover; background-position: center;">
    </div>
    <div class="columns mt-2 mb-7">
        {{ content_list }}
        <div class="column">
            <p class="block has-text-grey">{{ content }}</p>
        </div>
        {{ /content_list }}
    </div>
    <hr class="has-background-grey-lighter">
    {{ /services_list }}

    <div class="columns mt-9">
        <div class="column is-6">
            <h4 class="block title is-size-4">Prices <span class="tag is-primary is-light mr-2">I think you might be interested in this part</span></h4>
            <p class="block is-size-6 has-text-grey">{{ price_description }}</p>
        </div>
    </div>
    <div class="columns mt-4 is-vcentered">
        {{ price_cards }}
        <div class="column is-4">
            <div class="card {{ if is_primary=='true' }} has-background-primary has-text-white {{ /if }}">
                <div class="card-content">
                    <div class="content  py-4 {{ if is_primary=='true' }} py-5 {{ /if }}">
                        <h3 class="m-0 {{ if is_primary=='true' }} has-text-white {{ /if }}">{{ title }}</h3>
                        <p class="{{ if is_primary=='true' }} has-text-light {{ else }} has-text-grey {{ /if }}">{{ subtitle }}</p>

                        <h1 class="is-size-1 mt-2 {{ if is_primary=='true' }} has-text-white {{ /if }}">{{ price }} <span class="is-size-6 {{ if is_primary=='true' }} has-text-light {{ else }} has-text-grey {{ /if }}">{{ price_additional_info }}</span></h1>

                        <p>
                            {{ description }}
                        </p>
                        <ul>
                            {{ price_options }}
                                <li>{{ value }}</li>
                            {{ /price_options }}
                        </ul>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="/hire" class="card-footer-item {{ if is_primary=='true' }} has-text-white {{ /if }}">Contact me</a>
                </footer>
            </div>
        </div>
        {{ /price_cards }}
    </div>


</div>

{{ partial:partials/footer }}