<!-- footer -->
<div class="footer-fill has-background-black pt-6 mt-9">
    <div class="container is-widescreen">
        
        <div class="columns pb-9">
            <div class="column is-3">
                <h3 class="block title is-size-2 is-size-3-touch has-text-white">
                    Let's start your project together
                </h3>
                <a href="#" class="button is-primary is-rounded">Hire me</a>
            </div>
            <div class="column is-offset-6 is-3 is-flex-desktop is-align-items-flex-end is-justify-content-flex-end">
                <div class="buttons are-medium">
                    
                    {{ main-data:social_media }}
                    <a href="{{ link }}" class="button is-light is-rounded">
                        <span class="icon">
                            <i class="mdi {{ material_icon }}"></i>
                        </span>
                    </a>
                    {{ /main-data:social_media }}
                    
                </div>
            </div>
        </div>
        
        <div class="columns">
            <figure class="image column">
                <img src="{{ main-data:logo_extended }}" alt="">
            </figure>
        </div>
        
    </div>
</div>
<!-- footer end -->